<footer class="footer">
  <div class="contact-info">
    <p>Contact:</p>
    <p>Email: ruby&#64;gmail.com</p>
    <div class="social-icons">
      <a href="https://www.instagram.com/roobie_doobie?igsh=MWJrOHMzcGQ4aGU3MA==" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://m.facebook.com/ruby.sulagna?mibextid=wwXIfr&mibextid=wwXIfr" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
  </div>
</footer>
