<nav class="navbar">
    <div class="navbar-left">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="home-link">Home</a>
      </div>
      <div class="navbar-right">
        <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
        <a routerLink="/rates" routerLinkActive="active">Rates</a>
        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
</nav>